<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::body})}">
<body>
<section class="form-container">
    <h2>Login</h2>
    <form th:action="@{/users/login}" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="username" required />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />
        </div>

        <button type="submit" class="btn">Sign In</button>
    </form>

    <p>Don't have an account? <a th:href="@{/users/register}">Register here</a></p>
</section>
</body>
</html>
